body {
    background-color: rgb(235, 235, 235);
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.mainHeading {
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.tap {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 20px;
}

.tapButton {
    width: 33%;
    font-size: 15px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.tapButton:focus {
    background: rgb(19, 19, 19);
    color: white;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

p {
    width: 100%;
}

.image {
    height: 300px;
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price,
.compare,
.discount {
    font-size: 18px;
    width: 100%;
}

.compare {
    color: #8a7f7a;
    text-decoration: line-through;
}

.discount {
    color: orange;
    font-weight: bold;
}

@media (max-width: 767px) {
    .mainHeading {
        font-size: 18px;
    }

    .tap {
        width: 100%;
    }

    .tapButton {
        width: 100%;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


